h1 {
  color: red;
}

h2 {
  font-style: italic;
  text-align: center;
}

p{
    font-family: san-serif;
    font-weight: 600;
  }
ul{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}
